.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height:70px ;
/*     z-index: 100;
 */    background-color: white;

}

.header__logo{
    height: 30px;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    object-fit: contain;
    

}


.header__middle {
    display: flex;
align-items: center;

} 
.Headerright {
    display: flex;
    align-items: center;
}



.header__left {
    display: flex;
    align-items: center;
    
}

.header__middle > input {
    flex: 1;
    border: 1px solid lightgray;
    height: 27px;
    width: 500px;
}
.SearchIcon {
    width: 70px!important;
    color: rgb(197, 191, 191);
    border: 1px solid lightgray;
}


.mic__button{
   margin-left: -350px;
   width: 20px;
   cursor: pointer;
    
}

.header__icon {
    margin-right: 20px;
}
.MenuIcon{
    margin-left: 20px;
    cursor: pointer;
}